:root
{
	--blue : #2C2546;
	--dark-blue : #1B1535;
	--green : #00EB09 ;
	--white : #fff ;
	--pink : #ff0099 ;
}
*
{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
	font-family: 'Tahoma';
}
body
{
	background-color: var(--dark-blue);
	color: var(--white);
}

header
{

	text-align: center;
	position: fixed;
	width: 100%;
	font-weight: bold;
	background-color: var(--blue);
	padding: 2%;
	top: 0;
}

.title
{
	color: var(--pink);
	border-bottom: 1px solid var(--white);
	font-size: 15pt;
}

.input-search
{
	width: 25%;
	border: none;
	border-radius: 0 0 0 20px;
	padding: 2px;
}

.input-submit
{
	margin-left: -5px;
	border: none;
	border-radius: 0 20px 0 0;
	padding: 2px;
	background-color: var(--pink);
	color: var(--blue);
	width: 5%;
	font-weight: bold;
}
nav
{
	margin-top: 15px;
}

nav ul
{
	display: flex;
	gap: 25px;
	justify-content: center;
}

nav ul li a 
{
	color: var(--pink);
}

nav ul li a:hover
{
	border-bottom: 3px solid var(--white);
}

.slider
{
    margin-top: 10%;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 65%;
}

.slider h4
{
    margin-top: 20%;
}

.slides
{
    display: flex;
    width: 50rem;
    overflow: hidden;
}

.slides img 
{
    border-radius: 20px;
}

.slide
{
    width: 50rem;
    transition: .5s;
}

.choose_1:checked ~ .slides > .s1
{
    margin-left: -0rem;
}

.choose_2:checked ~ .slides > .s1
{
    margin-left: -50rem;
}

.overlay 
{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target 
{
    visibility: visible;
    opacity: 1;
}

.popup 
{
    margin: 70px auto;
    padding: 20px;
    background: var(--dark-blue);
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}
  
.popup h2 {
    margin-top: 0;
    color: var(--white);
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover 
{
    color: #06D85F;
}

.content 
{
    max-height: 30%;
    width: 50%;
}

.title-p
{
	margin-top: 5%;
	margin-left: 115px;
	color: var(--pink);
}

.populer
{
	display: grid;
	grid-template-columns: repeat(30, 1fr);
	width: 90%;
	margin-left: 10%;
	margin-right: 7%;
}

.populer img
{
	border-radius: 10px;
}

.dompet
{
	display: grid;
	grid-template-columns: repeat(80, 1fr);
	width: 90%;
	margin-left: 10%;
	margin-right: 7%;

}

.dompet img
{
	border-radius: 10px;
}

.harga
{
	color: var(--pink);
}

.link a
{
	color: var(--white);
}

.link a:hover
{
	color: var(--pink);
}

.pesan img
{
	width: 20px;
}

.pesan
{
	background-color: var(--green);
	padding: 3%;
	border-radius: 10px;
}

.pesan:hover
{
	background-color: var(--white);
}
.footer
{	
	text-align: center;
	color: var(--pink);
}
.tentang
{
    display: grid;
    justify-content: center;
    margin-top: 10%;
    font-size: 15pt;
}
 
.card
{
    background-color: var(--blue);
    padding: 5%;
    border-radius: 10px;
    box-shadow: 20px 20px var(--pink);
}
 
.card h1
{
    text-align: center;
}
 
html
{
    scroll-behavior: smooth;
}
 
 
footer
{
    display: grid;
    justify-content: center;
    background-color: var(--blue);
    margin-top: 15%;
    padding: 2%;
}
 
.sosmed img 
{
    width: 50px;
}
 
#copyright
{
    text-align: center;
    padding: 10px;
}